// Colors
$clr1: #004047;
$clr2: #F67E7E;
$clr3: #79C8C7;
$clr4: #012F34;
$clr5: #014E56;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 689px;
$normal-breakpoint: 1110px;